<section id="wishlist">
  <div class="wishlist">
    <div class="grid">
      <div class="col-12">
        <ol class="flex list-none m-0 pt-0 px-0 pb-3 align-items-center text-sm text-600 mb-3 overflow-x-auto">
          <li class="mr-2">Home</li>
          <li class="mr-2 inline-flex align-items-center"><i class="pi pi-angle-right text-sm"></i></li>
          <li class="mr-2">Terms and Conditions</li>
        </ol>
      </div>
      <div class="col-12">
        <p>[yith_wcwl_wishlist]</p>
      </div>
    </div>
  </div>
</section>