<section id="contact">
  <div class="contact">
    <div class="leftSection">
      <div class="title">
        <h2>Leave us a Message</h2>
      </div>
      <div class="your-name">
        <label>Your Name (required)</label>
        <input class="input-border" type="text" pInputText />
      </div>
      <div class="your-name">
        <label>Your Email (required)</label>
        <input class="input-border" type="Email" pInputText />
      </div>
      <div class="text-area">
        <label>Your Message</label>
        <textarea class="input-border-text" rows="5" cols="30" pInputTextarea></textarea>
      </div>
      <div class="contact-btn">
        <button pButton pRipple type="button" label="Send"
          class="p-button-rounded"></button>
      </div>
    </div>
    <div class="rightSection">
      <div class="title">
        <h2>Our Office</h2>
      </div>
      <div class="content">
        <p>1, Geeta Apartment, Above Sony Designer <br> Studio, Vise mala,
          College Road, Nashik- <br>
          422005 </p>
        <p> Contact No. : <a href="@">+91 9307229872</a></p>
        <p>E-mail ID : <a href="@">info@stuffroad.com</a></p>
      </div>
    </div>
  </div>
</section>
