<section id="contact">
  <div class="contact">
    <div class="leftSection">
      <h2>Leave us a Message</h2>
      <div class="contact-line"></div>
      <div class="your-name">
        <h5>Your Name (required)</h5>
        <input class="input-border" type="text" pInputText />
      </div>
      <div class="your-name">
        <h5>Your Email (required)</h5>
        <input class="input-border" type="Email" pInputText />
      </div>
      <div class="text-area">
        <h5>Your Message</h5>
        <textarea class="input-border-text" rows="5" cols="30" pInputTextarea></textarea>
      </div>
      <div class="contact-btn">
        <button pButton pRipple type="button" label="Send" class="p-button-rounded"></button>
      </div>
    </div>
    <div class="rightSection">
      <h2>Our Office</h2>
      <div class="contact-line2"></div>
      <div class="content">
        <p>1, Geeta Apartment, Above Sony Designer <br> Studio, Vise mala, College Road, Nashik- <br>
          422005 </p>
        <p> Contact No. : <a href="@">+91 9307229872</a></p>
        <p>E-mail ID : <a href="@">info@stuffroad.com</a></p>
      </div>
    </div>
  </div>
</section>
