
<div class="surface-section p-4">
    <div class="flex flex-wrap lg:flex-nowrap">
        <div class="col-fixed lg:col-2 mr-4 flex p-0 flex-column w-full lg:w-3">
            <div class="flex flex-column p-0">
                <a tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Denim</a>
                <a tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Sweaters</a>
                <a tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">T-Shirt</a>
                <a tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Pants & Shorts</a>
                <a tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Outwear</a>
                <a tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Shoes</a>
                <a tabindex="0" class="cursor-pointer text-900 font-medium mb-3 hover:text-primary transition-duration-150">Accessories</a>
            </div>
            <p-divider styleClass="w-full m-0 p-0"></p-divider>

            <p-accordion [multiple]="true" styleClass="-mb-1 mt-3">
                <p-accordionTab [selected]="true" header="Brand ({{selectedBrand_1 ? selectedBrand_1 : '0'}})">
                    <div class="overflow-hidden transition-all transition-duration-400 transition-ease-in-out">
                        <div class="mb-3">
                            <span class="p-input-icon-right w-full">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Search" class="w-full"/>
                            </span>
                        </div>
                        <div class="flex w-full justify-content-between">
                            <div class="field-checkbox">
                                <p-checkbox value="Alfred" inputId="alfred" [(ngModel)]="selectedBrand_1"></p-checkbox>
                                <label for="alfred" class="text-900">Alfred</label>
                            </div>
                            <!-- <p-badge [value]="42" styleClass="mr-2 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge> -->
                        </div>
                        <div class="flex w-full justify-content-between">
                            <div class="field-checkbox">
                                <p-checkbox value="Hyper" inputId="hyper" [(ngModel)]="selectedBrand_1"></p-checkbox>
                                <label for="hyper" class="text-900">Hyper</label>
                            </div>
                            <!-- <p-badge [value]="18" styleClass="mr-2 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge> -->
                        </div>
                        <div class="flex w-full justify-content-between">
                            <div class="field-checkbox">
                                <p-checkbox value="Bastion" inputId="bastion" [(ngModel)]="selectedBrand_1"></p-checkbox>
                                <label for="bastion" class="text-900">Bastion</label>
                            </div>
                            <!-- <p-badge [value]="7" styleClass="mr-2 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge> -->
                        </div>
                        <div class="flex w-full justify-content-between">
                            <div class="field-checkbox">
                                <p-checkbox value="Peak" inputId="peak" [(ngModel)]="selectedBrand_1"></p-checkbox>
                                <label for="peak" class="text-900">Peak</label>
                            </div>
                            <!-- <p-badge [value]="36" styleClass="mr-2 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge> -->
                        </div>
                        <a tabindex="0" class="block cursor-pointer my-3 text-primary font-medium">Show all...</a>
                    </div>
                </p-accordionTab>
                <p-accordionTab [selected]="true" header="Price Range">
                    <div class="overflow-hidden transition-all transition-duration-400 transition-ease-in-out">
                        <p-slider [(ngModel)]="rangeValues" [range]="true" styleClass="mt-3 mx-auto" [style]="{'max-width':'93%'}"></p-slider>
                        <div class="flex my-4">
                            <!-- <p-inputNumber placeholder="$10" [(ngModel)]="rangeValues[0]" min="10" inputStyleClass="w-full mr-3"></p-inputNumber>
                            <p-inputNumber placeholder="$10000" max="10000" [(ngModel)]="rangeValues[1]" inputStyleClass="w-full"></p-inputNumber> -->
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab [selected]="true" header="Color ({{selectedColors.length}})">
                    <div class="overflow-hidden transition-all transition-duration-400 transition-ease-in-out">
                        <div class="grid mb-3">
                            <div class="col-4 flex flex-column align-items-center">
                                <div class="w-3rem h-3rem border-circle bg-gray-900 cursor-pointer border-none flex justify-content-center align-items-center" (click)="selectedColors.indexOf('Black') == -1 ? selectedColors.push('Black') : selectedColors.splice(selectedColors.indexOf('Black'), 1)">
                                    <i class="pi pi-check text-2xl text-white" *ngIf="selectedColors.indexOf('Black') !== -1"></i>
                                </div>
                                <p class="text-900 text-center mt-1">Black</p>
                            </div>
                            <div class="col-4 flex flex-column align-items-center">
                                <div class="w-3rem h-3rem border-circle bg-orange-500 cursor-pointer border-none flex justify-content-center align-items-center" (click)="selectedColors.indexOf('Orange') == -1 ? selectedColors.push('Orange') : selectedColors.splice(selectedColors.indexOf('Orange'), 1)">
                                    <i class="pi pi-check text-2xl text-white" *ngIf="selectedColors.indexOf('Orange') !== -1"></i>
                                </div>
                                <p class="text-900 text-center mt-1">Orange</p>
                            </div>
                            <div class="col-4 flex flex-column align-items-center">
                                <div class="w-3rem h-3rem border-circle bg-indigo-500 cursor-pointer border-none flex justify-content-center align-items-center" (click)="selectedColors.indexOf('Indigo') == -1 ? selectedColors.push('Indigo') : selectedColors.splice(selectedColors.indexOf('Indigo'), 1)">
                                    <i class="pi pi-check text-2xl text-white"*ngIf="selectedColors.indexOf('Indigo') !== -1"></i>
                                </div>
                                <p class="text-900 text-center mt-1">Indigo</p>
                            </div>
                            <div class="col-4 flex flex-column align-items-center">
                                <div class="w-3rem h-3rem border-circle bg-gray-500 cursor-pointer border-none flex justify-content-center align-items-center" (click)="selectedColors.indexOf('Gray') == -1 ? selectedColors.push('Gray') : selectedColors.splice(selectedColors.indexOf('Gray'), 1)">
                                    <i class="pi pi-check text-2xl text-white" *ngIf="selectedColors.indexOf('Gray') !== -1"></i>
                                </div>
                                <p class="text-900 text-center mt-1">Gray</p>
                            </div>
                            <div class="col-4 flex flex-column align-items-center">
                                <div class="w-3rem h-3rem border-circle bg-cyan-500 cursor-pointer border-none flex justify-content-center align-items-center" (click)="selectedColors.indexOf('Cyan') == -1 ? selectedColors.push('Cyan') : selectedColors.splice(selectedColors.indexOf('Cyan'), 1)">
                                    <i class="pi pi-check text-2xl text-white" *ngIf="selectedColors.indexOf('Cyan') !== -1"></i>
                                </div>
                                <p class="text-900 text-center mt-1">Cyan</p>
                            </div>
                            <div class="col-4 flex flex-column align-items-center">
                                <div class="w-3rem h-3rem border-circle bg-pink-500 cursor-pointer border-none flex justify-content-center align-items-center" (click)="selectedColors.indexOf('Pink') == -1 ? selectedColors.push('Pink') : selectedColors.splice(selectedColors.indexOf('Pink'), 1)">
                                    <i class="pi pi-check text-2xl text-white" *ngIf="selectedColors.indexOf('Pink') !== -1"></i>
                                </div>
                                <p class="text-900 text-center mt-1">Pink</p>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab [selected]="true" header="Size ({{selectedSizes1.length}})">
                    <div class="overflow-hidden transition-all transition-duration-400 transition-ease-in-out">
                        <p-galleria [value]="sizes" [responsiveOptions]="responsiveOptions" containerClass="h-full" [numVisible]="2"
                        [showThumbnails]="false" [showIndicators]="true">
                            <ng-template pTemplate="item" let-item>
                                <div class="flex flex-wrap w-full h-auto overflow-hidden justify-content-center" style="column-gap: 5px; row-gap: 5px;">
                                    <div pRipple class="w-4rem h-2rem text-900 flex justify-content-center align-items-center text-sm cursor-pointer border-round" *ngFor="let size of item.page" (click)="selectedSizes1.indexOf(size.value) == -1 ? selectedSizes1.push(size.value) : selectedSizes1.splice(selectedSizes1.indexOf(size.value.toString()), 1)" [ngClass]="{'surface-100': selectedSizes1.indexOf(size.value) == -1, 'bg-blue-200': selectedSizes1.indexOf(size.value) !== -1}">{{size.value}}</div>
                                </div>
                            </ng-template>
                        </p-galleria>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class="w-full surface-border surface-section mt-3 lg:mt-0" style="min-height:25rem;">


          <div class="surface-section">
            <div class="flex justify-content-between flex-wrap">
                <div class="flex align-items-center mb-3 md:mb-0">
                    <div class="text-900 font-bold text-3xl">Category Title </div>
                    <p-badge [value]="'76'" styleClass="ml-3 bg-gray-200 text-gray-900 p-0 border-circle"></p-badge>
                </div>
                <div>
                    <button type="button" pButton icon="pi pi-sort-alt" class="text-400 surface-section border-1 surface-border hover:text-0 w-7rem p-2 transition-duration-150"  iconPos="right" label="Sort By" (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </div>

            </div>
            <p class="text-600 text-xl">Nullam faucibus, sem et bibendum finibus, sapien ipsum congue felis, sit amet pretium ex nisl ut eros.</p>
            <p-divider class="w-full"></p-divider>
            <div class="grid grid-nogutter align-items-center">
                <p-multiSelect [options]="brands" [(ngModel)]="selectedBrands2" placeholder="Brand" optionLabel="name" styleClass="w-full" class="flex-auto lg:flex-1 mb-3 lg:mt-0 w-full mr-0 lg:mr-4 text-900"></p-multiSelect>
                <p-multiSelect [options]="colors" [(ngModel)]="selectedColors" placeholder="Color" optionLabel="name" styleClass="w-full" class="flex-auto lg:flex-1 mb-3 lg:mt-0 w-full mr-0 lg:mr-4 text-900">
                    <ng-template let-value pTemplate="selectedColors">
                        <div *ngFor="let color of selectedColors">
                            <div class="w-3rem h-3rem border-circle cursor-pointer border-none"></div>
                            <div>{{color.name}}</div>
                        </div>
                        <div *ngIf="!selectedColors || selectedColors.length === 0">Color</div>
                    </ng-template>
                    <ng-template let-color pTemplate="item">
                        <div class="flex align-items-center">
                            <div class="w-2rem h-2rem border-circle {{color.class}} cursor-pointer border-none"></div>
                            <div class="text-900 ml-2">{{color.name}}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>
                <p-multiSelect [options]="price" [(ngModel)]="selectedPrice2" placeholder="Price" optionLabel="range" styleClass="w-full" class="flex-auto lg:flex-1 mb-3 lg:mt-0 lg:col w-full mr-0 lg:mr-4 text-900"></p-multiSelect>
                <!-- <p-toggleButton [(ngModel)]="checked1"  onLabel="Sustainable" offLabel="Unsustainable" onIcon="pi pi-check" offIcon="pi pi-times" styleClass="mb-3 lg:mt-0 mr-4 flex-shrink-0 w-12rem" ></p-toggleButton> -->
                <!-- <p-toggleButton [(ngModel)]="checked2"  onLabel="Sale" offLabel="Not Sale" onIcon="pi pi-check" offIcon="pi pi-times" styleClass="mb-3 lg:mt-0 mr-4 flex-shrink-0 w-9rem" ></p-toggleButton> -->
                <a pRipple tabindex="0" class="cursor-pointer flex align-items-center mb-3 lg:mt-0 text-900">Clear All</a>
                <div class="col-12 border-2 border-dashed surface-border surface-section h-30rem mt-2">




<div class="surface-section">
  <div class="grid -mt-3 -ml-3 -mr-3">
      <div class="col-12 md:col-6 lg:col-4 xl:col-3 border-bottom-1 surface-border md:border-bottom-none">
          <div class="p-2">
              <img src="https://www.stuffroad.com/wp-content/uploads/2021/09/2157-T39603857-100x100.jpg" class="w-full mb-3" />
              <div class="text-900 text-xl font-medium mb-2">$140.00</div>
              <div class="mb-2">
                  <span class="text-600 line-through">$175.00</span>
                  <span class="ml-2 text-pink-500 font-medium">%25</span>
              </div>
              <span class="text-900">Product Name</span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 xl:col-3 border-bottom-1 surface-border md:border-bottom-none">
          <div class="p-2">
              <img src="https://www.stuffroad.com/wp-content/uploads/2021/09/2155-T39602149-100x100.jpg" class="w-full mb-3" />
              <div class="text-900 text-xl font-medium mb-2">$100.00</div>
              <div class="mb-2">
                  <span class="text-600 line-through">$150.00</span>
                  <span class="ml-2 text-pink-500 font-medium">%50</span>
              </div>
              <span class="text-900">Product Name</span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 xl:col-3 border-bottom-1 surface-border md:border-bottom-none">
          <div class="p-2">
              <img src="https://www.stuffroad.com/wp-content/uploads/2021/07/Granos-Verde-120x240cm-100x100.png" class="w-full mb-3" />
              <div class="text-900 text-xl font-medium mb-2">$90.00</div>
              <div class="mb-2">
                  <span class="text-600 line-through">$103.00</span>
                  <span class="ml-2 text-pink-500 font-medium">%15</span>
              </div>
              <span class="text-900">Product Name</span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 xl:col-3 border-bottom-1 surface-border md:border-bottom-none">
          <div class="p-2">
              <img src="https://www.stuffroad.com/wp-content/uploads/2021/07/Granos-Cemento-120x240cm-100x100.png" class="w-full mb-3" />
              <div class="text-900 text-xl font-medium mb-2">$50.00</div>
              <div class="mb-2">
                  <span class="text-600 line-through">$57.00</span>
                  <span class="ml-2 text-pink-500 font-medium">%15</span>
              </div>
              <span class="text-900">Product Name</span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 xl:col-3 border-bottom-1 surface-border md:border-bottom-none">
          <div class="p-2">
              <img src="https://www.stuffroad.com/wp-content/uploads/2022/04/2-4-100x100.jpg" class="w-full mb-3" />
              <div class="text-900 text-xl font-medium mb-2">$42.00</div>
              <div class="mb-2">
                  <span class="text-600 line-through">$54.00</span>
                  <span class="ml-2 text-pink-500 font-medium">%30</span>
              </div>
              <span class="text-900">Product Name</span>
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 xl:col-3">
          <div class="p-2">
              <img src="https://www.stuffroad.com/wp-content/uploads/2022/04/6-5-100x100.jpg" class="w-full mb-3" />
              <div class="text-900 text-xl font-medium mb-2">$25.00</div>
              <div class="mb-2">
                  <span class="text-600 line-through">$50.00</span>
                  <span class="ml-2 text-pink-500 font-medium">%50</span>
              </div>
              <span class="text-900">Product Name</span>
          </div>
      </div>
  </div>
</div>









                </div>
            </div>
        </div>


        </div>
    </div>
  </div>
