<section>
  <div class="product">
    <div class="alternatesImgs">
        <ul>
          <li>
            <img src="https://rukminim1.flixcart.com/image/128/128/kbwjvrk0/watch/q/r/p/wn03139-wanton-original-imaft5n6ugzgmezt.jpeg?q=70" alt="productImg"/>
          </li>
          <li>
            <img src="https://rukminim1.flixcart.com/image/128/128/kbwjvrk0/watch/q/r/p/wn03139-wanton-original-imaft5n6ugzgmezt.jpeg?q=70" alt="productImg"/>
          </li>
          <li>
            <img src="https://rukminim1.flixcart.com/image/128/128/kbwjvrk0/watch/q/r/p/wn03139-wanton-original-imaft5n6ugzgmezt.jpeg?q=70" alt="productImg"/>
          </li>
          <li>
            <img src="https://rukminim1.flixcart.com/image/128/128/kbwjvrk0/watch/q/r/p/wn03139-wanton-original-imaft5n6ugzgmezt.jpeg?q=70" alt="productImg"/>
          </li>


        </ul>

    </div>
    <div class="productImg">
      <img src="https://rukminim1.flixcart.com/image/128/128/kbwjvrk0/watch/q/r/p/wn03139-wanton-original-imaft5n6ugzgmezt.jpeg?q=70" alt=""/>
    </div>
    <div class="productInfo">

    </div>
  </div>
</section>


<app-footer></app-footer>
