<section id="cart">
  <div class="cart">
    <div class="grid">
      <div class="col-12">
        <ol class="flex list-none m-0 pt-0 px-0 pb-3 align-items-center text-sm text-600 mb-3 overflow-x-auto">
          <li class="mr-2">Home</li>
          <li class="mr-2 inline-flex align-items-center"><i class="pi pi-angle-right text-sm"></i></li>
          <li class="mr-2">Cart</li>
        </ol>
      </div>
      <div class="col-12" *ngIf="false">
        <div class="emptyCart">
          <h2>Your cart is currently empty.</h2>
        </div>
        <button pButton pRipple type="button" label="Return to Shop" class="p-button-rounded p-button-secondary"></button>
      </div>
      <div class="col-12">
        
      </div>
    </div>
  </div>
</section>