<section id="aboutUs">
  <div class="aboutUs p-5">
    <div class="grid">
      <div class="col-12">
        <div class="title">
        <h2>About Us</h2>
      </div>
      </div>

      <div class="col-12">
        <ul>
          <li>
            We are developers of an online platform that brings all architectural material under one roof. So, our users
            like Architects, Interior Designers, Contractors & Builders can choose products online by checking for numerous available options in no time.
          </li>
          <li>
            Assurance for quality is guaranteed as we work only with authorized dealers and provide attractive discounts on bulk orders.
          </li>
          <li>
            We are providing excellent customer service & friendly support by delivering products in metro cities.
          </li>
        </ul>
      </div>
      <div class="col-12 boxes">
        <div class="box">
          <span class="count">.01</span>
          <span class="txt">Quality Service</span>
      </div>
        <div class="box">
          <span class="count">.02</span>
          <span class="txt">Assurance</span>
      </div>
        <div class="box">
          <span class="count">.03</span>
          <span class="txt">Transparency</span>
      </div>
        <div class="box">
          <span class="count">.04</span>
          <span class="txt">Payment Security</span>
      </div>
        <div class="box">
          <span class="count">.05</span>
          <span class="txt">Customer Support</span>
      </div>
      </div>
      <div class="col-12">
        <div class="vision">
          <div class="left">
            <h2>Our Vision</h2>
          </div>
          <div class="right">
            <p>
              To enter and capture the architectural material market on online platforms reach out all across the country.
            </p>
          </div>
        </div>
        <div class="mission">
          <div class="left">
            <h2>Our Mission</h2>
          </div>
          <div class="right">
            <p>
              To associate with all brands available for architectural/construction material and
              reach out to every single client by delivering products via stuff road all over the
              country.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
