<section id="track">
  <div class="track">
    <div class="grid">
      <div class="col-12">
        <ol class="flex list-none m-0 pt-0 px-0 pb-3 align-items-center text-sm text-600 mt-4 overflow-x-auto">
          <li class="mr-2">Home</li>
          <li class="mr-2 inline-flex align-items-center"><i class="pi pi-angle-right text-sm"></i></li>
          <li class="mr-2">Track your Order</li>
        </ol>
      </div>
      <div class="col-12">
            <div class="col-12">
              <div class="grid formgrid p-fluid">
                <div class="col-12">
                <div class="text-900 font-medium text-xl text-center mb-3">Track your order</div>
                <span class="inline-block text-600 mb-3 text-center">To track your order please enter your Order ID in the box below and press the “Track” button. This was given to you on your
                  receipt and in the confirmation email you should have received.</span>
              </div>
                <div class="col-12 lg:col-6 field mb-0">
                  <label for="orderId" class="text-900 font-medium mb-3">Order ID</label>
                  <input id="orderId" type="text" class="p-inputtext w-full mb-3" placeholder="Found in your order confirmation email.">
                </div>

                <div class="col-12 lg:col-6 field mb-0">
                  <label for="billingEmail" class="text-900 font-medium mb-3">Billing Email</label>
                  <input id="billingEmail" type="text" class="p-inputtext w-full mb-3" placeholder="Email you used during checkout.">
                </div>
                  <div class="flex align-items-center field mb-4 ml-2">
                    <button type="button" pButton pRipple label="Track" class="mr-3 py-2"></button>
                </div>
                <p-divider class="w-full px-2"></p-divider>

              </div>
            </div>
      </div>
      <div class="col-12">
        <div class="p-2">
          <div class="p-5">
            <div class="flex flex-column lg:flex-row">
              <div class="flex flex-auto flex-column md:flex-row">
                <div
                  class="md:pr-5 lg:pr-8 border-bottom-1 pb-5 md:border-bottom-none md:border-right-1 surface-border flex justify-content-center md:justify-content-start">
                  <ul class="list-none p-0 m-0">
                    <li class="h-6rem flex">
                      <div class="flex flex-column align-items-center">
                        <div class="bg-primary border-primary border-circle flex-shrink-0"
                          style="border: 3px solid; height:1.5rem; width: 1.5rem"></div>
                        <div class="bg-primary h-6rem" style="width:3px"></div>
                      </div>
                      <div class="flex flex-column ml-3">
                        <span class="font-medium text-900 mb-2">Ordered</span>
                        <span class="text-600">22 Feb</span>
                      </div>
                    </li>
                    <li class="h-6rem flex">
                      <div class="flex flex-column align-items-center">
                        <div class="surface-card border-primary border-circle flex-shrink-0"
                          style="border: 3px solid; height:1.5rem; width: 1.5rem"></div>
                        <div class="surface-300 h-6rem" style="width:3px"></div>
                      </div>
                      <div class="flex flex-column ml-3">
                        <span class="font-medium text-900 mb-2">Processing</span>
                        <span class="text-600">23 Feb</span>
                      </div>
                    </li>
                    <li class="h-6rem flex">
                      <div class="flex flex-column align-items-center">
                        <div class="surface-300 border-300 border-circle flex-shrink-0"
                          style="border: 3px solid; height:1.5rem; width: 1.5rem"></div>
                        <div class="surface-300 h-6rem" style="width:3px"></div>
                      </div>
                      <div class="flex flex-column ml-3">
                        <span class="font-medium text-900 mb-2">Shipping</span>
                        <span class="text-600">Est. 24 Feb</span>
                      </div>
                    </li>
                    <li class="h-6rem flex">
                      <div class="flex flex-column align-items-center">
                        <div class="surface-300 border-300 border-circle flex-shrink-0"
                          style="border: 3px solid; height:1.5rem; width: 1.5rem"></div>
                        <div class="surface-300 h-6rem" style="width:3px"></div>
                      </div>
                      <div class="flex flex-column ml-3">
                        <span class="font-medium text-900 mb-2">Delivered</span>
                        <span class="text-600">Est. 26 Feb</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="flex-auto md:pl-5 lg:pr-5 pt-5 md:pt-0 border-right-none lg:border-right-1 surface-border">
                  <div class="flex align-items-center justify-content-between mb-3">
                    <span class="font-medium text-2xl text-900">Product Title</span>
                    <button pButton pRipple class="p-button-text font-medium">Invoice</button>
                  </div>
                  <div class="text-xl text-700 mb-5">$120.00</div>
                  <div class="flex flex-column xl:flex-row mb-5">
                    <img src="https://www.stuffroad.com/wp-content/uploads/2022/04/301-2-100x100.jpg"
                      class="w-12rem xl:mr-5 mb-5 xl:mb-0" />
                    <img src="https://www.stuffroad.com/wp-content/uploads/2022/04/316-2-100x100.jpg" class="w-12rem" />
                  </div>
                  <div class="flex flex-column">
                    <span class="text-xl font-medium mb-3 text-900">Address</span>
                    <div class="flex flex-column text-700">
                      <span class="mb-1">Celeste Slater</span>
                      <span class="mb-1">606-3727 Ullamcorper. Roseville NH 11523</span>
                      <span>(786) 713-8616</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="flex flex-column border-top-1 lg:border-top-none surface-border pl-0 pt-5 lg:pt-0 lg:pl-5 mt-5 lg:mt-0">
                <button pButton pRipple icon="pi pi-star" label="Review" class="p-button-outlined mb-3"></button>
                <button pButton pRipple icon="pi pi-times" label="Cancel"
                  class="p-button-outlined p-button-danger"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
